header {

    font-size: 13px;
    display: flex;
    justify-content: space-around;
} 


ul {
    list-style-type: none;
    display: flex; 
    gap: 35px;
    font-family:"Roboto", "Arial", sans-serif
}


a {
    text-decoration: none; 
    color: black;
}
.a {
    width:20px;
    height: 15px;

}
.a2{
    width: 693px;
    height: 438px;
    float: right;
}

.top {
    font-size: 17px;
    color: #fff;
    background: #5B6460; 
    height: 40px;
    font-family:"Roboto", "Arial", sans-serif;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
}
 


.poor {
    width:100%;
    height:auto;
    margin: 0;
    opacity: 0.90;
}

.text {
    display: inline-block; 
    position: absolute; 
    bottom: 400px; right: 60px; 
    font-family:"Roboto", "Arial", sans-serif;
    font-style: normal;
    font-size: 70px;
    color: #fff;


}
.text2 {
    display: inline-block; 
    position: absolute; 
    bottom: 380px; right: 90px; 
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-size: 25px;
    color: #fff;
}
.text3 {
    display: inline-block; 
    position: absolute; 
    bottom: 350px; right: 117px; 
    font-family:"Roboto", "Arial", sans-serif;
    font-style: normal;
    font-size: 25px;
    color: #fff;
}

.button {
    font-size: 17px;
    color: #fff;
    background: #5B6460; 
    height: 65px;
    font-family:"Roboto", "Arial", sans-serif;
    display: inline-block; 
    position: absolute; 
   /* top: 715px; 
    padding-top: 50px;
    width: 263px; */
    left: 146px; 
    padding-right: 100px ;
    padding-left: 100px;
}
.button2 {
    font-size: 17px;
    color:black;
    background: #E9ECE0; 
    height: 65px;
    font-family:"Roboto", "Arial", sans-serif;
    display: inline-block; 
    position: absolute; 
  /*  top: 715px; 
    padding-top: 50px;
    width: 263px; */
    left: 440px; 
    padding-right: 100px ;
    padding-left: 100px;
}


